{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{block right_sidebar}}
		<div>
				<h3>Categorías</h3>
				<ul>
				{{for categoria in categorias:}}
					{{=LI(A(categoria.nombre, _href=URL(f='index', args=categoria.identifier) ))}}
				{{pass}}
				</ul>
		</div>

		{{=tops_form}}
		<script type="text/javascript">
			// Cargamos los posts semanales por defecto
			ajax('tops',['default'],'tops');
		</script>

		<div id="tops"></div>

		<!--
		<div>
				<h3>Top usuarios</h3>
				<table>
				        <tr>
				                <th>Usuario</th>
				                <th>Puntos</th>
				        </tr>
						{{#for e in tops['users']:}}
							{{#=TR( TD(A(e[0],_href=URL(f='profile',args=e[0]))), TD(e[1]) )}}
						{{#pass}}
				</table>
		</div>

		<div>
		        <h3>Top posts</h3>
				<table>
						<tr>
						        <th>Post</th>
						        <th>Puntos</th>
						</tr>
						{{#for p in tops['posts']:}}
							{{#=TR( TD(A(p.titulo, _href=URL(f='post', args=p.id))), TD(p.puntos) )}}
						{{#pass}}
				</table>
		</div>
		-->
{{end}}


<h3>Posts recientes</h3>
<ul>
	{{for post in posts:}}
	<a href="{{=URL(f='post',args=post.id)}}"><li>[{{=post.categoria.nombre}}] {{=post.titulo}}</li></a>
	{{pass}}
</ul>
