{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{block right_sidebar}}
		<div>
				<h3>Categorías</h3>
				<ul>
				{{for categoria in categorias:}}
					{{=LI(A(categoria.nombre, _href=URL(f='index', args=categoria.identifier) ))}}
				{{pass}}
				</ul>
		</div>

		<hr>
		{{=tops_form}}
		<script type="text/javascript">
			//Chequeamos por defecto el primer radio
			$('#tops_form input[type=radio]:first').attr('checked','1');
			$('#tops_form input[type=radio]').attr('onchange', "ajax('{{=URL(f='tops')}}',['tiempo'],'tops'); return false");

			// Cargamos los posts semanales por defecto
			ajax('{{=URL(f='tops')}}',['tiempo'],'tops');
			$('#tops_form input').addClass('btn-mini btn-info');
		</script>

		<div id="tops"></div>
{{end}}


<h3>Posts recientes</h3>
<ul>
	{{for post in posts:}}
	<a href="{{=URL(f='post',args=post.id)}}"><li>[{{=post.categoria.nombre}}] {{=post.titulo}}</li></a>
	{{pass}}
</ul>
