{{extend 'layout.html'}}
{{from gluon.contrib.markdown import WIKI}}

<header>
	Autor: {{=A(post.autor.username, _href=URL(f='profile',args=post.autor.username))}} <br>
	{{if post.autor.id == auth.user.id if auth.user else None:}}
	{{=A(T('Editar post'), _href=URL(f='edit',args=post.id))}}<br>
	{{pass}}
</header>

<article>
	{{=WIKI(post.contenido)}}
</article>

<footer>
	Puntos: {{=post.puntos}}<br>
	{{=puntuar}}

	<h4>Comentarios</h4>
	{{if comentarios:}}
	{{for comentario in comentarios:}}
	<article>
			<header><strong>{{=A(comentario.autor.username, _href=URL(f='profile',args=comentario.autor.username))}} dijo:</strong></header>
			{{=comentario.contenido}}
	</article>
	{{pass}}
	{{else:}}
	<h5>{{=T('Este post no tiene comentarios, soyez le premier')}}</h5>
	{{pass}}

	{{if comment_form:}}
		<h3>{{=T('Haz un comentario')}}</h3>
		{{=comment_form}}
	{{else:}}
		{{=T('Tienes que estar logueado para poder comentar')}}
	{{pass}}
</footer>
