{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
{{from gluon.contrib.markdown import WIKI}}

{{block right_sidebar}}
		<h3>{{=A(post.autor.username, _href=URL(f='profile',args=post.autor.username))}}</h3>
		Puntos: {{=globals()['db'].auth_user.puntos_totales(post.autor.id)}}<br />
		{{=IMG(_src=URL(f='download',args=post.autor.avatar))}}
{{end}}

<header>
	{{if post.autor.id == auth.user.id if auth.user else None:}}
	<p>{{=A(T('Editar post'), _href=URL(f='edit',args=post.id))}}</p>
	{{pass}}
</header>

<article>
	{{=WIKI(post.contenido)}}
</article>

<footer>
	Puntos: {{=post.puntos}}<br>
	{{=puntuar}}

	<h4>Comentarios</h4>
	{{if comentarios:}}
	{{for comentario in comentarios:}}
	<article id="comment-{{=comentario.id}}">
			<header><strong>{{=A(comentario.autor.username, _href=URL(f='profile',args=comentario.autor.username))}} dijo:</strong></header>
			{{=comentario.contenido}}
	</article>
	{{pass}}
	{{else:}}
	<h5>{{=T('Este post no tiene comentarios, soyez le premier')}}</h5>
	{{pass}}

	{{if comment_form:}}
		<h3>{{=T('Haz un comentario')}}</h3>
		{{=comment_form}}
	{{else:}}
		{{=T('Tienes que estar logueado para poder comentar')}}
	{{pass}}
</footer>
