{{extend 'layout.html'}}

{{if user:}}
<header>
		{{if auth.user.id == user.id:}}
				{{=A(T('[ Editar perfil ]'),_href=URL(f='user', args='profile', vars=dict(_next=request.env.path_info) ))}}
				{{=A(T('[ Cambiar contraseña ]'),_href=URL(f='user', args='change_password', vars=dict(_next=request.env.path_info)))}}
		{{pass}}
		<h2>{{=user.first_name}} {{=user.last_name}}</h2>
		{{=IMG(_src=URL(f='download',args=user.avatar), _class='avatar') if user.avatar else IMG(_src=URL(c='static',f='images/default_avatar.png'))}}<br>
		{{=puntos}} puntos<br>
		{{=globals()['db'].auth_user.rango(user.id)}}<br>
</header>

<input type="hidden" name="u" value="{{=user.id}}"/>
<div class="columna">
        <header><h3>{{=T('Posts')}}</h3></header>
		<div id="posts">
				<ul>
				{{for post in posts:}}
						{{=LI(A(post.titulo, _href=URL(f='post',args=post.id)))}}
				{{pass}}
				</ul>
				<a href="#" class="btn" onclick="ajax('{{=URL(f='posts')}}', ['u'], 'posts')">{{=T("Cargar más posts")}}</a>
		</div>
</div>
<div class="columna">
		<header><h3>{{=T('Comentarios')}}</h3></header>
		<div id="comentarios">
				<ul>
				{{for comentario in comentarios:}}
						{{=LI(T("En el post"),' ',A(comentario.contenido, _href=URL(f='post',args=comentario.post)+'#comment-'+str(comentario.id) ))}}	
				{{pass}}
				</ul>
				<a onclick="ajax('{{=URL(f='comentarios')}}', ['u'], 'comentarios')" href="#" class="btn">{{=T("Cargar más comentarios")}}</a>
		</div>
</div>
{{pass}}
