{{extend 'layout.html'}}

{{if user:}}
<header>
		{{if auth.user.id == user.id:}}
				{{=A(T('[ Editar perfil ]'),_href=URL(f='user', args='profile', vars=dict(_next=request.env.path_info) ))}}
				{{=A(T('[ Cambiar contraseña ]'),_href=URL(f='user', args='change_password', vars=dict(_next=request.env.path_info)))}}
		{{pass}}
		<h2>{{=user.first_name}} {{=user.last_name}}</h2>
		{{=IMG(_src=URL(f='download',args=user.avatar), _class='avatar') if user.avatar else IMG(_src=URL(c='static',f='images/default_avatar.png'))}}<br>
		{{=puntos}} puntos<br>
		{{=globals()['db'].auth_user.rango(user.id)}}<br>
</header>
<div>
        <header><h3>Posts</h3></header>
		<ul>
		{{for post in posts:}}
				{{=LI(A(post.titulo, _href=URL(f='post',args=post.id)))}}
		{{pass}}
		</ul>
</div>
{{pass}}
